.button{
  background-color: $secondary-color;
  border: none;
  border-radius: 0.5em;
  color: $light-color;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline:none;
  padding: 0.5rem 1rem;    
  transition: background-color 0.2s ease-in;
  float: right;


  &:hover{
      background-color: lighten($tertiary-color, 20%)  ;
      color: $secondary-color;  
  }

}
