.modal{    
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4000;
  background-color: $primary-color;
  border: 1px solid $secondary-color;
  color: $light-color;
  margin: auto;
  padding: 2rem;
  transition: all 0.5s;
  width: 40vw;

  @media only screen and(max-width: $bp-small) {
    width: 80vw;
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__title{
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__rating{
    border: 2px dotted $secondary-color;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 1.5rem;
    width: min-content;

    &:hover{
        border: 2px dotted $light-color;
        color: lighten($secondary-color, 20%);
    }
  }

  &__img{
    margin: 2rem 0;
    width: 100%;
  }

  &__overview{
    font-size: 1.3rem;
    line-height: 2rem;
  }

  &__btn{
    background-color: $secondary-color;
    text-transform: uppercase;
    border: none;
    color: $light-color;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 100;
    outline:none;
    padding: 1rem 2rem;    
    transition: background-color 0.2s ease-in;
    margin: 2rem 0 0 0;

    &:hover{
        background-color: lighten($tertiary-color, 20%)  ;
        color: $secondary-color;  
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  background-color: rgba(0,0,0,0.7);
  padding: 50px;
  z-index: 1000;
}